* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}
.outer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1710011116728-49df6a68df1b?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  object-fit: cover;
  position: relative;
}
.outer i {
  position: absolute;
  font-size: 50px;
  height: 50px;
  width: 50px;
  background-color: whitesmoke;
  border-radius: 10px;
  top: 3%;
  left: 2%;
}
.outer::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.733);
  height: 100%;
  width: 100%;
}

.outer button {
  padding: 0.8vw;
  background-color: rgb(230, 230, 240);
  border: none;
  font-size: xx-large;
  color: rgb(7, 7, 7);
  font-weight: bolder;
  border-radius: 15px;
  cursor: pointer;
  z-index: 5;
  position: absolute;
  top: 20%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: 12rem;
  transition: all 0.1s ease-in-out;
}
button:hover {
  padding: 1vw;
}
