* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: rgb(12, 0, 19);
  color: white;
  -webkit-user-select: none; /* Chrome, Safari */
  -ms-user-select: none; /* Edge */
  user-select: none;
  overflow: hidden;
}

.container {
  width: 300px;
  margin: 100px auto 0;
}

.select-option {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 50px;
  border-radius: 10px;
  color: black;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  align-items: center;
  padding: 0 18px;
  font-weight: bold;
}

.select-option i {
  font-size: 25px;
  transition: transform 0.3s linear;
}

.container.active .select-option i {
  transform: rotate(-180deg);
}

.list-search-container {
  background-color: white;
  margin-top: 15px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  display: none;
}

.container.active .list-search-container {
  display: block;
}

.search-box {
  position: relative;
  color: black;
}

.search-box i {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: rgb(17, 14, 61);
  font-size: 20px;
}
.search-box input {
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 45px;
  border-radius: 5px;
  border: 1px solid rgb(92, 90, 90);
}

.search-box input:focus {
  border: 2px solid rgb(17, 14, 61);
}

.list {
  margin-top: 10px;
  max-height: 250px;
  overflow: auto;
  padding-right: 7px;
}
.list li {
  font-size: 21px;
  height: 50px;
  padding: 10px 15px;
}
.list li:hover,
li.selevted {
  border-radius: 5px;
  background: rgba(141, 6, 194, 0.63);
  font-weight: 500;
}

ul {
  color: black;
}

.links {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 95%;
  left: 50%;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
}

.social {
  position: relative;
  display: flex;
  flex-direction: row;
}

.links a {
  color: white;
  margin-left: 5px;
  text-decoration: none;
}

.links i {
  margin: 50px;
}
