*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
}
.box{
  height: 100%;
  width: 100%;
  background-color: rgb(168, 168, 168);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}
h1{
  padding-bottom: 150px;
}
button{
  padding: 0.5vw 1vw;
  font-size: 1vw;
  border-radius: 5px;
  cursor: pointer;
}
input{
  width: 20%;
  height: 5vh;
  border-radius: 5px;
  padding-left: 0.5vh;
  
}
a{
  font-size: 50px;
}