@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500;600&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600;1,800;1,900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
#main{
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #262341;
  user-select: none;

}
#overlay{
  position: absolute;
  height: 480px;
  width: 350px;
  background-color: #f9d94a;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 4px solid #e7f5f5;
  border-radius: 10px;
  box-shadow: 0 0 7px rgba(161, 238, 234, 0.8);
}
#overlay h1{
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 26px;
  top: 1%;
  left: 5%;
}
#line{
  position: absolute;
  height:2px;
  width: 344px;
  background-color: rgba(0, 0, 0, 0.568);
  top: 10%;
  overflow: hidden;
}
.passBox{
  font-weight: bolder;
  font-size: 20px;
  padding-left: 20px;
  position: absolute;
  top: 13%;
  left: 4%;
  width: 320px;
  height: 45px;
  border: 1px solid rgb(245, 180, 4);
  outline: none;
  background-color: #fff;
  border-radius: 5px; 
  text-overflow: ellipsis;
}
#icon{
  position: absolute;
  top: 15%;
  left: 87%;
  height: 30px;
  width: 30px;
  font-size: 28px;
}
.range{
  position: absolute;
  top:24% ;
  left:4% ;
  width: 94%;
}
#line1{
  position: absolute;
  height: 2px;
  width: 344px;
  background-color: rgba(0, 0, 0, 0.445);
  top: 35%;
  overflow: hidden;
}
.row{
  display: flex;
  margin-block:8px;
}
.row p{
  position: absolute;
  top: 28%;
  left: 4%;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  user-select: none;
}
.row span{
  position: absolute;
  top: 28%;
  left: 92%;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  user-select: none;
}
.row label{
  position: absolute;
  top: 40%;
  left: 4%;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.row input{
  position: absolute;
  top: 40%;
  left: 92%;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  height: 18px;
  width: 18px;
}
.row1 label{
  position: absolute;
  top: 50%;
  left: 4%;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.row1 input{
  position: absolute;
  top: 50%;
  left: 92%;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  height: 18px;
  width: 18px;
}
.row2 label{
  position: absolute;
  top: 60%;
  left: 4%;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.row2 input{
  position: absolute;
  top: 60%;
  left: 92%;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  height: 18px;
  width: 18px;
}
.row3 label{
  position: absolute;
  top: 70%;
  left: 4%;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.row3 input{
  position: absolute;
  top: 70%;
  left: 92%;
  font-family: "Poppins", sans-serif;
  height: 18px;
  width: 18px;
}
.getBtn{
  position: absolute;
  top: 82%;
  left: 4%;
  width: 320px;
  height: 45px;
  border-radius: 2px;
  border: 1px solid rgb(245, 180, 4);
  outline: none;
  color: wheat;
  font-family: "Poppins", sans-serif;
  border-radius: 5px; 
  background-color: #262341;
  font-size: 20px;
  font-weight: bold;
  word-spacing: 6px;
}
.getBtn:hover{
  background-color: #131030;
}
