*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color:#5c2d50;
}
#panel{
  overflow: hidden;
  height: 80%;
  width: 80%;
  background-color:#f3f3f3fd;
  border-radius: 10px;
}
#ptop{
  justify-content: space-between;
  padding: 0px 30%;
  display: flex;
  align-items: center;
  color: white;
  height: 80px;
  width: 100%;
  background-color:#a31d70;
}
.elem{
  display: flex;
  align-items: center;
  gap: 5px;
}
.box{
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px 9px;
  color:#a31d70;
  font-weight: 600;
  font-size: 20px;
}
#pbtm{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  width: 100%;
  height:calc(100%-100px);
  align-items: center;
  justify-content: center;
  
}
.bubble{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #a31d70;
  color: wheat;
  border-radius: 50%;
  font-weight: 900;
}
.bubble:hover{
  cursor: pointer;
  background-color: #350723;
}
