* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
html, body {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: #fff;
}
h1 {
  margin-top: 15px;
  padding-bottom: 20px;
  font-size: 2.5rem;
}
h2 {
  margin-top: 2rem;
  font-size: 1.4rem;
}
.btn-container {
  display: flex;
  justify-content: center;
  gap: 3px;
}
.btn {
  height: 160px;
  width: 160px;
  border-radius: 20%;
  border: 8px solid #000;
  margin: 1.5rem;
}
.content {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  font-size: 1rem;
  margin: 10px;
  font-weight: bold;
}
.content > a > i {
  font-size: 40px;
  margin: -3px;
}
.yellow {
  background-color: #e7bd32;
}
.red {
  background-color: #ec2460;
}
.purple {
  background-color: #6d1994;
}
.green {
  background-color: #24bd57;
}
.flash {
  background-color: #fff;
}
.userflash{
  background-color: green;
}